:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --main-transition: 0.7s;
    --section-background: #eff7fa;
}
body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}
/* Start Global usings */
.main-title::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px
}
/* End Global usings */
/* Start Nav */
.navbar {
    background-color: var(--dark-color);
}
.navbar-nav .nav-link {
    color: white;
    transition: var(--main-transition);
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: var(--green-color);
}
.navbar .search {
    color: var(--green-color);
    border-left: 1px solid var(--green-color);
}
.navbar .navbar-toggler {
    color: white;
    border-color: white;
    font-size: 25px;
}
.navbar .navbar-toggler:hover {
    color: var(--green-color);
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.main-btn {
    color: var(--yellow-color);
    background-color: var(--red-color);
    padding: 0.5rem 1rem;
    font-weight: bold;
}
.main-btn:hover {
    color: var(--yellow-color);
    background-color: var(--red-color);
}
.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}
/* End Nav */
/* Start Scroll to top */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--green-color);
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998;
    cursor: pointer;
    transition: var(--main-transition);
    border: 1px solid var(--yellow-color);
    display: none;
}
.scroll-to-top:hover {
    background-color: var(--red-color);
}
/* End Scroll to top */
/* Start Services */
.features .box {
    transition: var(--main-transition);
}
.features .box:hover {
    box-shadow: 0 0 8px 10px var(--section-background);
}
.features .icon-holder {
    height: 200px;
}
.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number {
    color: var(--section-background);
    font-size: 12rem;
}
.features .icon-holder .icon {
    color: var(--green-color)
}
.features .box h4 {
    color: var(--yellow-color);
}
/* End Services */
/* Start Work */
.works {
    background-color: var(--section-background);
}
.works ul li a {
    transition: var(--main-transition);
}
.works ul li:not(:first-child) a:hover {
    color: var(--green-color) !important;
}
.works .work-item::before {
    content: attr(data-type);
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 50%;
    left: calc(-100% - 5px);
    transform: translate(-50%, -50%);
    background-color: rgb(51, 209, 204, 0.6);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
    font-size: 30px;
}
.works .work-item:hover::before {
    left: 50%;
}
/* End Work */
/* Start Stuff */
.stuff .description {
    font-size: 1.2rem;
    max-width: 500px;
}
/* End Stuff */
/* Start our Team */
.team {
    background-color: var(--section-background);
}
.team  h2 {
    color: var(--yellow-color);
}
.team .box h3 {
    background-color: var(--green-color);
}
/* End our Team */
/* Start Project */
.project {
    background-color: var(--dark-color);
}
/* End Project */
/* Start Blog */
.blog .box {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.blog .box:hover {
    box-shadow: 0 0 8px 10px var(--section-background);
}
/* End Blog */
/* start Subscribe */
.subscribe {
    background-color: var(--yellow-color);
}
.subscribe input[type='email'] {
    border: none;
    border-bottom: 2px solid #fff;
}
.subscribe input[type='email']:focus {
    outline: none;
}
.subscribe input[type='email']::placeholder {
    color: #fff;
    font-weight: bold;
}
.subscribe button {
    background-color: var(--dark-color);
}
/* End Subscribe */
/* Start Footer */
footer {
    background-color: var(--dark-color);
}
footer .row div:first-child p:last-of-type span:first-child {
    color: var(--green-color);
}
footer .row div:first-child p:last-of-type span:last-child {
    color: var(--yellow-color);
}
/* End Footer */
/* Start loader */
.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
}
@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
}
/* End loader */